:root {
    --fuentePrincipal: 'Poppins', sans-serif;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background: rgb(32, 35, 54);
    background: linear-gradient(215deg, rgba(32, 35, 54, 1) 0%, rgba(9, 9, 121, 1) 16%, rgba(78, 5, 183, 1) 67%, rgba(120, 20, 182, 1) 100%);
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
   /* position: sticky;*/
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, 0.342);
    border-bottom: 2px black solid;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.titulo {
    font-size: 35px;
    color: white;
}

#navegador a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 0.1em 1em;
    transition: 0.2s ease-in;
}

#navegador a:hover {
    border-bottom: 3px white solid;
}

.contenedorTablaTexto {
    background-image: url(../img/portada.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    padding: 30px;
    font-family: var(--fuentePrincipal);
}

.contenedorTablaTexto .contenedorTexto .texto {
    width: 500px;
    border-radius: 5px;
}

.contenedorTexto {
    color: white;
}

.contenedorTabla {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.719);
    border-radius: 30px;
    padding: 1rem 2rem;
}

.contenedorTabla h3 {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 25px;
}

.contenedorTabla th,
.contenedorTabla td {
    padding: 0.3rem 0.6rem;
}



.contenedorMundo {
    margin: 5rem 0;
}

.mundoRotante {
    background-position: right;
    width: 35rem;
    animation: rotation 25s infinite linear;
    position: relative;
    left: 65rem;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.mundoRotante:hover {
    transition: 2s ease;
    filter: saturate(180%);

}


.footer {
    display:flex;
    justify-content: space-between;
    align-items:flex-start;
    background-color: rgb(13, 13, 102);
    padding: 1.5rem;
    font-family: var(--fuentePrincipal);
}
.footer .footerSections{
    color: white;
    width: 30%;
    row-gap: 1rem;
}
.footer .contenedorIconos .iconos{
    border-radius: 7px;
    border: 3px white solid;
    padding: 0.7rem;
    margin: 0.7rem;
    position: relative;
    z-index: 100;
}
.footer .contenedorIconos .iconos:hover{
    transition: 0.1s ease-in-out;
    border: 5px white solid;
}
.footer .contenedorListaFooter{
    display: flex;
    margin-left: 4rem;
}
.footer .contenedorListaFooter .listaFooter{
    width: 50%;
}
.titulosFooter {
    font-weight: bold;
    border-bottom: 3px solid white; 
    margin-bottom: 1rem;
}
.footer .contenedorListaFooter .listaFooter ul li{
    list-style: none;
}
.footer .contenedorListaFooter .listaFooter ul li a{
    color: white;
    text-decoration: none;

}
